//out: main.css
@import "reset.less";
@import "grid.less";
@import "typography.less";
@import "palette.less";
@import "access.less";


*, *:after, *:before {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

sup {
  font-size: 0.8rem;
  margin-top: -0.4rem;
  margin-left: 0.4rem;
  position: absolute;
  display: inline-block;
}

html:before,html:after,body:before,body:after{
    content:"";
    background:@white;
    position:fixed;
    display:block;
    z-index:5;
}

html:before{
    height:16px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:16px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:16px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:16px;
    top:0;
    bottom:0;
    left:0;
}

body {
    background: #fcfcfc;
    overflow-x: hidden;
    opacity: 1;
    transition: 1.6s opacity;
}

body.fade-out {
    opacity: 0;
    transition: 0.4s opacity;
}

section {
  margin-bottom: 2rem;
  margin-top: 2rem;
}


/*
/* header
*/

header {
  padding: 2rem 2rem 1rem;
  background: @ubc;
  img {
    display: inline-block;
    margin-right: 2rem;
  }
  h2 {
    color: @white;
    display: inline-block;
    position: absolute;
  }
}

p a.campus {
  color: @campus;
}
a[href="http://google.ca"] {
  position: relative;
  padding-right: 0.6rem;
  &:after {
    content: url(images/icon-external-link.svg);
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 2px;
    left: 6px;
  }
}


/*
/* main nav
*/

.main-nav {
  nav {
    ul {
      margin-top: 0rem;
      li {
        border-bottom: 1px solid @lightgrey;
        position: relative;
        &.active {
          a {
            color: @white;
          }
          &:before {
              width: 100%;
          }
        }
        &:before {
          width: 4px;
          background: @ubc;
          height: 100%;
          content: '';
          top: 0;
          left: 0;
          position: absolute;
          -webkit-transition: all 0.4s cubic-bezier(.93,.05,.69,1);
          transition: all 0.4s cubic-bezier(.93,.05,.69,1.21);
        }
        &:hover {
          &:before {
              width: 100%;
              background: @students;
          }
        }
        a {
          color: @students;
          padding: 1rem 1rem;
          text-decoration: none;
          position: relative;
          width: 100%;
          display: block;
          -webkit-transition: all 0.4s cubic-bezier(.93,.05,.69,1);
          transition: all 0.4s cubic-bezier(.93,.05,.69,1.21);
          &:before {


          }
          &:hover {
            color: @white;
            -webkit-transition: all 0.4s cubic-bezier(.93,.05,.69,1);
            transition: all 0.4s cubic-bezier(.93,.05,.69,1.21);
          }
        }
      }
      ul {
        margin-top: 0;
        padding-left: 1rem;
        margin-bottom: 1rem;
        li {
          border: none;
          &:first-of-type {
            a {
            padding-top: 0;
            }
          }
          &:before {
            height: 0;
          }
          &.active {
            &:after {
              width: 0px;
            }
          }
          a {
            padding: 0.4rem 2rem;
            font-size: 0.8rem;
            &:before {
              content: '';
            }
            &:hover {
              text-decoration: underline;
              &:before {
                  width: 100%;
              }
            }

          }
        }
      }
    }
  }
}


/*************/
/*  nucleus  */
/*           */


/*
/* colour palette
*/

.palette {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;

  .palette-color {
    height: 8rem;
    width: 12rem;
    margin: 0 1rem 1rem 0;
    position: relative;

    p {
      color: @white;
      position: absolute;
      font-size: 0.8rem;
    }
    .color {
      top: 1rem;
      left: 1rem;
    }
    .color--less_variable {
      bottom: 1rem;
      left: 1rem;
      margin-bottom: 0;
    }
  }
  .palette-color--campus {
    background: @campus;
  }
  .palette-color--plan{
    background: @darkplan15;
  }
  .palette-color--live{
    background: @live;
  }
  .palette-color--fun{
    background: @fun;
  }
  .palette-color--career{
    background: @career;
  }
  .palette-color--enrol{
    background: @enrol;
  }
  .palette-color--students{
    background: @students;
  }
  .palette-color--ubc{
    background: @ubc;
  }

}

/*
/* typography
*/

.typography {
  .type-scale {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    }
    .type-block {
      border: 1px solid @ubc;
      text-align: center;
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 2rem;
      &.h0-sb {
        span, .type-desc {
          font-weight: 600;
        }
      }
      span {
        font-size: 144px;
        color: @ubc;
        font-weight: 400;
        line-height: 144px;
        padding: 0 1rem;
        @media screen and (max-width: 768px) {
          font-size: 96px;
          line-height: 96px;
        }
        }
      .type-desc {
        background: @ubc;
        color: @white;
        padding: 0.4rem 0.4rem;
      }
    }
    .type-block--whitney {
      border: none;
      font-size: 144px;
      line-height: 144px;
      color: @ubc;
      align-items: center;
      font-weight: 400;
      @media screen and (max-width: 768px) {
        font-size: 96px;
        line-height: 96px;
      }
    }
    .type-lineheight {
      .type-linheight--gt768 {
        display: inline-block;
      }
    }
}

/***********/
/*  atoms  */
/*         */

/*
/* buttons
*/


.btn-surround {
  background: #fff;
  z-index: 1;
  display:inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
  &:after {
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(.93,.05,.69,1);
    transition: all 0.4s cubic-bezier(.93,.05,.69,1.21);
    z-index:1;
    border-radius: 1px 0 0 1px;
  }
  &:hover {
    span {
      color:white !important;
      border-radius: 2px;
    }
    &:after {
      width: 100%;
      -webkit-transition: all 0.4s cubic-bezier(.93,.05,.69,1);
      transition: all 0.4s cubic-bezier(.93,.05,.69,1.25);
      border-radius: 2px;
    }
  }

    /* -  themes  - */

  &.campus {
    &:after {
      background: @campus;
    }
    border: 1px solid @campus;
    &:focus {
      outline-color: @campus;
    }
  }

  &.plan {
    &:after {
      background: @plan;
    }
    border: 1px solid @plan;
    &:focus {
      outline-color: @plan;
    }
  }

  &.live {
    &:after {
      background: @live;
    }
    border: 1px solid @live;
    &:focus {
      outline-color: @live;
    }
  }

  &.fun {
    &:after {
      background: @fun;
    }
    border: 1px solid @fun;
    &:focus {
      outline-color: @fun;
    }
  }

  &.career {
    &:after {
      background: @career;
    }
    border: 1px solid @career;
    &:focus {
      outline-color: @career;
    }
  }

  &.enrol {
    &:after {
      background: @enrol;
    }
  border: 1px solid @enrol;
    &:focus {
      outline-color: @enrol;
    }
  }

  span {
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s ease-in;
    color: #002145;
       &:hover {
        color:white;
        transition: all 0.4s ease-in;
       }
    }
}
/* -  Size  - */

  a.small {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  a.medium {
    padding: 1rem 1.8rem;
    font-size: 1.1rem;
    border-radius: 3px;
    &:after {
      width: 6px;
      border-radius: 2px 0 0 2px;
    }
  }

  a.large {
    padding: 1.6rem 2.4rem;
    font-size: 1.2rem;
    border-radius: 4px;
    &:after {
       width: 8px;
       border-radius: 3px 0 0 3px;
    }
  }

/*
/* Links
*/

#links {
  ul, ol {
    margin-bottom: 2rem;
  }

  a {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    &:hover {
      text-decoration: none;
    }
    &.campus {
      color: @campus;
    }
  }
  .link-list--images {
    width: 300px;
    margin-bottom: 2rem;
    li {
      min-height: 48px;
      a {
        display: flex;
        -ms-flex-align: center;
  	    -webkit-align-items: center;
  	    -webkit-box-align: center;
  	    align-items: center;
        border-top: 1px solid @lightgrey;
        >img {
           display: inline-block;
        }
        p {
          display: inline-block;
          margin-left: 1rem;
          width: 220px;
          line-height: 1em;
          margin-bottom: 0;
        }
      }
    }
    &.campus {
      li {
        a {
          color: @campus;
        }
      }
      p {
      color: @campus;
      }
    }
  }
  .visited {
    &.campus {
    color: darken(@campus, 10%);
    }
    &.plan {
    color: darken(@plan, 10%);
    }
  }
  .anchored-list {
    border: 1px solid @lightgrey;
    border-radius: 2px;
    padding: 1.4rem 2rem;
    width: 240px;
    margin-bottom: 2rem;
    background: @white;
    ul {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 1rem;
    }
    .campus {
      li {
        a {
          color: @campus;
          &:hover {
            text-decoration: none;
          }
        }
        &.back-to-top {
          margin-top: 2rem;
          margin-bottom: 0.4rem;
          a {
            color: @ubc;
            &:after {
              content: url(images/back-to-top.svg);
              width: 1rem;
              height: 1rem;
              position: relative;
              top: -2px;
              left: 6px;
            }
          }
        }
      }
    }
  }
  .file-links {
    &.campus {
      a {
      color: @campus;
      &:hover {
        text-decoration: none;
      }
      }
    }
    li {
      margin-bottom: 1rem;
      a[href$='.pdf']:before {
        content: url(images/document-pdf.png);
        width: 1rem;
        height: 1rem;
        position: relative;
        top: -2px;
        padding-right: 6px;

      }
      a[href$='.xlsx']:before {
        content: url(images/document-excel.png);
        width: 1rem;
        height: 1rem;
        position: relative;
        top: -2px;
        padding-right: 6px;
      }
      a[href$='.pptx']:before {
        content: url(images/document-powerpoint.png);
        width: 1rem;
        height: 1rem;
        position: relative;
        top: -2px;
        padding-right: 6px;
      }
    }
  }
}

/*
/* lists
*/

#lists {
  ul, ol {
    margin-bottom: 2rem;
    li {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    }
  }
  .ul-list {
    margin-left: 1rem;
    list-style: disc;
    ul {
      list-style: circle;
      margin-left: 1rem;
    }
  }

  .ol-list {
    margin-left: 1rem;
    list-style: decimal;
    ol {
      list-style: lower-roman;
      margin-left: 1rem;
    }
  }
  .theme-list {
  li {
      background: url(images/li-theme-list-live.svg) no-repeat left top;
      padding-left: 2.5rem;
    }
  }

}

/*
/* sections
*/

#sections {
  hr {
    margin: 2rem 0;
    background: @lightgrey;
    color: @lightgrey;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @lightgrey;
  }
  .separator-header {
    text-align: center;
    position: relative;
    display: table;
    white-space: nowrap;
    margin-bottom: 2rem;
     &:before, &:after {
       border-top: 1px solid @lightgrey;
       content: '';
       display: table-cell;
       position: relative;
       top: 1rem;
       width: 40%;
     }
     &:before { right: 2.5%; }
     &:after { left: 2.5%; }
  }
  .section-inverse {
    background: @lightgrey;
    padding: 2rem;
    border-top: 1px solid darken(@lightgrey, 5%);
    border-bottom: 1px solid darken(@lightgrey, 5%);
    margin-bottom: 2rem;
  }
  .section-highlight--career {
    background: lighten(@career, 66%);
    padding: 2rem;
    border-top: 1px solid lighten(@career, 60%);
    border-bottom: 1px solid lighten(@career, 60%);
    margin-bottom: 2rem;
  }
}

/*
/* tables
*/

table {
  margin: 2rem 0;
  thead {
    border-bottom: 1px solid @lightgrey;
    th {
      padding: 0.8rem 2rem 0.4rem 0;
      font-weight: 600;
      text-align: left;
      border-right: 1px solid @lightgrey;
      color: @ubc;
        &:last-of-type {
            border-right: none;
          }
        &:not(:first-of-type) {
          padding-left: 1rem;
        }
      }
    }
  tbody {
    tr {
      border-bottom: 1px solid @lightgrey;
      &:last-of-type {
        border-bottom: none;
      }
      td {
        padding: 1rem 2rem 1rem 0;
        font-weight: 400;
        border-right: 1px solid @lightgrey;
        color: @ubc;
        &:last-of-type {
          border-right: none;
        }
        &:not(:first-of-type) {
          padding-left: 1rem;
        }
      }
    }
  }
}


/*
/* Paragraph
*/

blockquote {
  border: 1px solid @lightgrey;
  border-left: 4px solid @live;
  padding: 2rem 2rem 2.6rem;
  border-radius: 3px;
  max-width: 28rem;
  position: relative;
  margin-bottom: 2rem;
  cite {
    text-transform: uppercase;
    color: @live;
    position: absolute;
    right: 2rem;
    font-size: 0.8rem;
    &:before {
      content: '- ';
    }
  }
}

.callout {
  border-top: 1px solid @lightgrey;
  border-bottom: 1px solid @lightgrey;
  padding: 2rem;
  max-width: 28rem;
  margin-bottom: 2rem;
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }
  &.live {
    color: @live;

  }
}

.shoutout {
  margin-bottom: 2rem;
  p {
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
    max-width: 44rem;
  }
  &.live {
    color: @live;

  }
}


/***************/
/*  molecules  */
/*             */

/*
/* accordion
*/


#accordion {
  >div {
    a {
      text-decoration: none;
    }
    h4 {
      padding: 1rem 3rem 1rem 1rem;
      background-color: @lightgrey;
      background-image: url(images/arrow-down--campus.svg);
      background-position: 95% center;
      background-repeat: no-repeat;
      color: @campus;
      margin-bottom: 0;
      &.acc-open {
        background-image: url(images/cross--campus.svg);
        background-position: 95% center;
      }

    }
    article {
      padding: 1rem;
      border: 1px solid @lightgrey;
      margin-bottom: 2rem;
    }
  }
}

/*
/* alerts
*/

#alerts {
  .alert {
    margin-bottom: 2rem;
    .alert-header {
      padding: 1rem 3rem 1rem 1rem;
      border-radius: 3px 3px 0 0;
      border-width: 1px;
      border-style: solid;
    }
    .alert-content {
      padding: 1rem 3rem 1rem 1rem;
      border-width: 1px;
      border-style: solid;
      background: @white;
      border-top: none;
      border-radius: 0 0 3px 3px ;
    }
    &.page-alert {
      .alert-header {
        background: @fun;
        border-color: @fun;
        h4 {
          color: @white;
          margin-bottom: 0;

        }
      }
      .alert-content {
        border-color: @fun;
      }
    }
    &.section-alert {
      &.campus {
        .alert-header {
          background: fade(@campus, 5%);
          border-color: @campus;
        }
        h4 {
          color: @campus;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @campus;
        }
      }
      &.plan {
        .alert-header {
          background: fade(@plan, 5%);
          border-color: @plan;
        }
        h4 {
          color: @plan;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @plan;
        }
      }
      &.live {
        .alert-header {
          background: fade(@live, 5%);
          border-color: @live;
        }
        h4 {
          color: @live;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @live;
        }
      }
      &.fun {
        .alert-header {
          background: fade(@fun, 5%);
          border-color: @fun;
        }
        h4 {
          color: @fun;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @fun;
        }
      }
      &.career {
        .alert-header {
          background: fade(@career, 5%);
          border-color: @career;
        }
        h4 {
          color: @career;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @career;
        }
      }
      &.enrol {
        .alert-header {
          background: fade(@enrol, 5%);
          border-color: @enrol;
        }
        h4 {
          color: @enrol;
          margin-bottom: 0;
        }
        .alert-content {
          border-color: @enrol;
        }
      }
    }
  }
}

  .section-inverse {
    background: @lightgrey;
    padding: 2rem;
    border-top: 1px solid darken(@lightgrey, 5%);
    border-bottom: 1px solid darken(@lightgrey, 5%);
    margin-bottom: 2rem;
  }
  .section-highlight--career {
    background: lighten(@career, 66%);
    padding: 2rem;
    border-top: 1px solid lighten(@career, 60%);
    border-bottom: 1px solid lighten(@career, 60%);
    margin-bottom: 2rem;
  }


.section-inverse, .section-theme {
  .alert-header {
    h4 {
    color: @white !important;
    }
  }
  .campus {
    .alert-header {
      background: @campus !important;
    }
  }
  .plan {
    .alert-header {
      background: @plan !important;
    }
  }
  .live {
    .alert-header {
      background: @live !important;
    }
  }
  .career {
    .alert-header {
      background: @career !important;
    }
  }
  .enrol {
    .alert-header {
      background: @enrol !important;
    }
  }
}


/*
/* bricks
*/

.brick{
  display: block;
  position: relative;
}

.inline-block {
  display: inline-block;
  position: relative;
}


.brick-link {
  display: inline-block;
  position: relative;;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 15;
}

.brick-thumb {
  position: relative;
  z-index: 9;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 10px;

  &:before {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  &:after {
    width: 4px;
    height: 100%;
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s cubic-bezier(.80, .1, .9, 1);
    transition: all 0.2s cubic-bezier(.80, .10, .9, 1);
    border-radius: 3px 0 0 3px;
  }
}



.brick-text {
  display: inline-block;
  margin-left: 1rem;
  }
  h2 {
    margin-bottom: 0;
  }

.brick-date {
  margin-top: 1rem;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.brick-title {
  margin-top: 0px;
}

.brick-desc {
  width: 200px;
  font-size: 0.9rem;
}

.brick-item--large {
  margin-bottom: 2rem;
  display: inline-block;

  .brick-link {
    &:hover {
      .brick-thumb {
        z-index: 9;
        &:after {
          width:100%;
        }
      }
    }

  .z.brick-thumb {
    &:after {
      width:100%;
    }
  }
  .brick-text {
    z-index: 10;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    .brick-meta {
      top: 1rem;
      left: 1rem;
      position: absolute;
      color: white;
      z-index: 10;
    }

    .brick-detail {
      left: 1rem;
      position: absolute;
      bottom: 2rem;
      z-index: 10;

      .brick-title {
        color: white;
        margin-bottom: 0.6rem;
      }

      .brick-desc {
        width: 80%;
        color: white;
      }
    }
  }
}
}

/* Size */

.small {
  }
.brick-item--medium {
  .brick-meta {
    .brick-date {
      margin-top: 0;
    }
  }
  .brick-text {
    vertical-align: top;
    h2 {
      margin-top: 0;
    }
    .brick-date, .brick-desc {
      color: @ubc !important;
    }
  }
  .brick-link {
    &:hover {
      .brick-thumb {
        &:after {
          width: 24px;
        }
      }
    }
  }
}

.large {}

/* Themes */
.brick {
  &.campus {
    .brick-thumb {
      &:after {
        background: @fun;
      }
    }
    h2 {
      color: @fun;
    }

  }

  &.plan {
    .brick-thumb {
      &:after {
        background: #f38b00;
      }
    }
    h2 {
      color: #f38b00;
    }
  }

  &.live {
    .brick-thumb {
      &:after {
        background: #58a229;
      }
    }
    h2 {
      color: #58a229;
    }
  }

  &.fun {
   .brick-thumb {
      &:after {
        background: #cb1d38;
     }
    }
    h2 {
      color: #cb1d38;
    }
  }

  &.career {
    .brick-thumb {
      &:after {
        background: #50158b;
      }
    }
    h2 {
      color: #50158b;
    }
  }

  &.enrol {
    .brick-thumb {
      &:after {
        background: #23499c;
      }
    }
    h2 {
      color: #23499c;
    }
  }
}
