/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrapper {
  display: flex;
}
.main-nav {
  flex: 0 0 16em;
  min-width: 16em;
  min-height: 100vh;
  flex-direction: column;
  background: #f4f4f4;
  border-right: 1px solid #e6e6e6;
}
.main-nav h3 {
  color: #002145;
}
.main-content {
  flex: 1 1;
  width: 75%;
  height: 100%;
  position: absolute;
  left: 16em;
}
.padding-2 {
  padding: 2rem;
}
.half {
  flex: 1;
  margin-bottom: 2rem;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/* min-width: 769px - Major Third
/* max-width: 768px - Minor Third
/* max-width: 480px - Major Second
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  color: #002145;
}
h1 {
  font-weight: 400;
  margin-bottom: 1em;
}
@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.441rem;
    line-height: 3.3125rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.074rem;
    line-height: 2.875rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.602rem;
    line-height: 2.1875rem;
  }
}
h2 {
  font-weight: 400;
  margin-bottom: 1em;
}
@media screen and (min-width: 769px) {
  h2 {
    font-size: 1.953rem;
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.728rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.424rem;
    line-height: 2.0625rem;
  }
}
h3 {
  font-weight: 600;
  margin-bottom: 1em;
}
@media screen and (min-width: 769px) {
  h3 {
    font-size: 1.563rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.440rem;
    line-height: 2.125rem;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.266rem;
    line-height: 1.8125rem;
  }
}
h4 {
  font-weight: 600;
  margin-bottom: 1em;
  text-align: left;
  overflow: hidden;
}
h4:after {
  border-top: 1px solid #eeeeee;
  content: '';
  display: inline-block;
  height: 0.4em;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
}
h4:after {
  left: 2.5%;
}
@media screen and (min-width: 769px) {
  h4 {
    font-size: 1.250rem;
    line-height: 1.9375rem;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 1.2rem;
    line-height: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
h5 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}
@media screen and (min-width: 769px) {
  h5 {
    font-size: 1rem;
    line-height: 1.6875rem;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 1rem;
    line-height: 1.6875rem;
  }
}
@media screen and (max-width: 480px) {
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
h6 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1em;
}
@media screen and (min-width: 769px) {
  h6 {
    font-size: 0.800rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 0.833rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  h6 {
    font-size: 0.889rem;
    line-height: 1.375rem;
  }
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 34rem;
}
@media screen and (min-width: 769px) {
  p {
    line-height: 1.6875rem;
  }
}
@media screen and (max-width: 768px) {
  p {
    line-height: 1.6875rem;
  }
}
@media screen and (max-width: 480px) {
  p {
    line-height: 1.500rem;
  }
}
.code-block {
  display: flex;
}
code {
  font-family: monospace;
  padding: 1rem;
  color: rebeccapurple;
  border: 1px solid #eeeeee;
  display: inline-block;
  white-space: pre;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  max-width: 400px;
  flex: 1;
}
code.inline {
  padding: 0.2rem;
  display: inline-block;
  white-space: pre;
  line-height: 1.2rem;
  margin-bottom: 0;
  flex: none;
}
h3 span {
  font-size: 1rem;
  font-weight: 400;
}
p {
  color: #002145;
}
strong {
  font-weight: 600;
}
sup {
  font-size: 0.8rem;
  margin-top: -0.4rem;
  margin-left: 0.4rem;
  position: absolute;
  display: inline-block;
}
em {
  font-style: italic;
}
/* Palette */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #ffffff;
  position: fixed;
  display: block;
  z-index: 5;
}
html:before {
  height: 16px;
  left: 0;
  right: 0;
  top: 0;
}
html:after {
  width: 16px;
  top: 0;
  right: 0;
  bottom: 0;
}
body:before {
  height: 16px;
  right: 0;
  bottom: 0;
  left: 0;
}
body:after {
  width: 16px;
  top: 0;
  bottom: 0;
  left: 0;
}
body {
  background: #fcfcfc;
  overflow-x: hidden;
  opacity: 1;
  transition: 1.6s opacity;
}
body.fade-out {
  opacity: 0;
  transition: 0.4s opacity;
}
section {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
p a[href*="//"]:not([href*="ubc.ca"]) {
  padding-right: 1.4rem;
  position: relative;
}
p a[href*="//"]:not([href*="ubc.ca"]):after {
  content: url('images/icon-external-link.svg');
  width: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.75rem;
  top: -0.15rem;
  position: absolute;
}
/*
/* header
*/
header {
  padding: 2rem 2rem 1rem;
  background: #002145;
}
header img {
  display: inline-block;
  margin-right: 2rem;
}
header h2 {
  color: #ffffff;
  display: inline-block;
  position: absolute;
}
p a.campus {
  color: #1594a6;
}
a[href="http://google.ca"] {
  position: relative;
  padding-right: 0.6rem;
}
a[href="http://google.ca"]:after {
  content: url(images/icon-external-link.svg);
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 2px;
  left: 6px;
}
/*
/* main nav
*/
.main-nav nav ul {
  margin-top: 0rem;
}
.main-nav nav ul li {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.main-nav nav ul li.active a {
  color: #ffffff;
}
.main-nav nav ul li.active:before {
  width: 100%;
}
.main-nav nav ul li:before {
  width: 4px;
  background: #002145;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1);
  transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1.21);
}
.main-nav nav ul li:hover:before {
  width: 100%;
  background: #0088cc;
}
.main-nav nav ul li a {
  color: #0088cc;
  padding: 1rem 1rem;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1);
  transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1.21);
}
.main-nav nav ul li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1);
  transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1.21);
}
.main-nav nav ul ul {
  margin-top: 0;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.main-nav nav ul ul li {
  border: none;
}
.main-nav nav ul ul li:first-of-type a {
  padding-top: 0;
}
.main-nav nav ul ul li:before {
  height: 0;
}
.main-nav nav ul ul li.active:after {
  width: 0px;
}
.main-nav nav ul ul li a {
  padding: 0.4rem 2rem;
  font-size: 0.8rem;
}
.main-nav nav ul ul li a:before {
  content: '';
}
.main-nav nav ul ul li a:hover {
  text-decoration: underline;
}
.main-nav nav ul ul li a:hover:before {
  width: 100%;
}
/*************/
/*  nucleus  */
/*           */
/*
/* colour palette
*/
.palette {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
}
.palette .palette-color {
  height: 8rem;
  width: 12rem;
  margin: 0 1rem 1rem 0;
  position: relative;
}
.palette .palette-color p {
  color: #ffffff;
  position: absolute;
  font-size: 0.8rem;
}
.palette .palette-color .color {
  top: 1rem;
  left: 1rem;
}
.palette .palette-color .color--less_variable {
  bottom: 1rem;
  left: 1rem;
  margin-bottom: 0;
}
.palette .palette-color--campus {
  background: #1594a6;
}
.palette .palette-color--plan {
  background: #a65f00;
}
.palette .palette-color--live {
  background: #58a229;
}
.palette .palette-color--fun {
  background: #cb1d38;
}
.palette .palette-color--career {
  background: #50158b;
}
.palette .palette-color--enrol {
  background: #21499c;
}
.palette .palette-color--students {
  background: #0088cc;
}
.palette .palette-color--ubc {
  background: #002145;
}
/*
/* typography
*/
.typography .type-scale {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
}
.typography .type-block {
  border: 1px solid #002145;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.typography .type-block.h0-sb span,
.typography .type-block.h0-sb .type-desc {
  font-weight: 600;
}
.typography .type-block span {
  font-size: 144px;
  color: #002145;
  font-weight: 400;
  line-height: 144px;
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  .typography .type-block span {
    font-size: 96px;
    line-height: 96px;
  }
}
.typography .type-block .type-desc {
  background: #002145;
  color: #ffffff;
  padding: 0.4rem 0.4rem;
}
.typography .type-block--whitney {
  border: none;
  font-size: 144px;
  line-height: 144px;
  color: #002145;
  align-items: center;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .typography .type-block--whitney {
    font-size: 96px;
    line-height: 96px;
  }
}
.typography .type-lineheight .type-linheight--gt768 {
  display: inline-block;
}
/***********/
/*  atoms  */
/*         */
/*
/* buttons
*/
.btn-surround {
  background: #fff;
  z-index: 1;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
  /* -  themes  - */
}
.btn-surround:after {
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  position: absolute;
  -webkit-transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1);
  transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1.21);
  z-index: 1;
  border-radius: 1px 0 0 1px;
}
.btn-surround:hover span {
  color: white !important;
  border-radius: 2px;
}
.btn-surround:hover:after {
  width: 100%;
  -webkit-transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1);
  transition: all 0.4s cubic-bezier(0.93, 0.05, 0.69, 1.25);
  border-radius: 2px;
}
.btn-surround.campus {
  border: 1px solid #1594a6;
}
.btn-surround.campus:after {
  background: #1594a6;
}
.btn-surround.campus:focus {
  outline-color: #1594a6;
}
.btn-surround.plan {
  border: 1px solid #f38b00;
}
.btn-surround.plan:after {
  background: #f38b00;
}
.btn-surround.plan:focus {
  outline-color: #f38b00;
}
.btn-surround.live {
  border: 1px solid #58a229;
}
.btn-surround.live:after {
  background: #58a229;
}
.btn-surround.live:focus {
  outline-color: #58a229;
}
.btn-surround.fun {
  border: 1px solid #cb1d38;
}
.btn-surround.fun:after {
  background: #cb1d38;
}
.btn-surround.fun:focus {
  outline-color: #cb1d38;
}
.btn-surround.career {
  border: 1px solid #50158b;
}
.btn-surround.career:after {
  background: #50158b;
}
.btn-surround.career:focus {
  outline-color: #50158b;
}
.btn-surround.enrol {
  border: 1px solid #21499c;
}
.btn-surround.enrol:after {
  background: #21499c;
}
.btn-surround.enrol:focus {
  outline-color: #21499c;
}
.btn-surround span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s ease-in;
  color: #002145;
}
.btn-surround span:hover {
  color: white;
  transition: all 0.4s ease-in;
}
/* -  Size  - */
a.btn-small {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
a.btn-medium {
  padding: 1rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 3px;
}
a.btn-medium:after {
  width: 6px;
  border-radius: 2px 0 0 2px;
}
a.btn-large {
  padding: 1.6rem 2.4rem;
  font-size: 1.2rem;
  border-radius: 4px;
}
a.btn-large:after {
  width: 8px;
  border-radius: 3px 0 0 3px;
}
/*
/* Links
*/
#links ul,
#links ol {
  margin-bottom: 2rem;
}
#links a {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
#links a:hover {
  text-decoration: none;
}
#links a.campus {
  color: #1594a6;
}
#links .link-list--title {
  width: 300px;
  margin-bottom: 2rem;
}
#links .link-list--title li {
  min-height: 48px;
}
#links .link-list--title li a {
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid #eeeeee;
  padding-top: 1rem;
}
#links .link-list--title li:first-of-type a {
  border-top: none;
}
#links .link-list--title li p {
  display: inline-block;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}
#links .link-list--title.campus li a {
  color: #1594a6;
}
#links .link-list--title.campus p {
  color: #1594a6;
}
#links .visited.campus {
  color: #0f6c79;
}
#links .visited.plan {
  color: #c06e00;
}
#links .anchored-list {
  border: 1px solid #eeeeee;
  border-radius: 2px;
  padding: 1.4rem 2rem;
  width: 240px;
  margin-bottom: 2rem;
  background: #ffffff;
}
#links .anchored-list ul {
  margin-bottom: 0;
}
#links .anchored-list li {
  margin-bottom: 1rem;
}
#links .anchored-list .campus li a {
  color: #1594a6;
}
#links .anchored-list .campus li a:hover {
  text-decoration: none;
}
#links .anchored-list .campus li.back-to-top {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}
#links .anchored-list .campus li.back-to-top a {
  color: #002145;
}
#links .anchored-list .campus li.back-to-top a:after {
  content: url(images/back-to-top.svg);
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  left: 6px;
}
#links .file-links.campus a {
  color: #1594a6;
}
#links .file-links.campus a:hover {
  text-decoration: none;
}
#links .file-links li {
  margin-bottom: 1rem;
}
#links .file-links li a[href$='.pdf']:before {
  content: url(images/document-pdf.png);
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  padding-right: 6px;
}
#links .file-links li a[href$='.xlsx']:before {
  content: url(images/document-excel.png);
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  padding-right: 6px;
}
#links .file-links li a[href$='.pptx']:before {
  content: url(images/document-powerpoint.png);
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  padding-right: 6px;
}
/*
/* lists
*/
#lists ul,
#lists ol {
  margin-bottom: 2rem;
}
#lists ul li,
#lists ol li {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
#lists .ul-list {
  margin-left: 1rem;
  list-style: disc;
}
#lists .ul-list ul {
  list-style: circle;
  margin-left: 1rem;
}
#lists .ol-list {
  margin-left: 1rem;
  list-style: decimal;
}
#lists .ol-list ol {
  list-style: lower-roman;
  margin-left: 1rem;
}
#lists .theme-list li {
  background: url(images/li-theme-list-live.svg) no-repeat left top;
  padding-left: 2.5rem;
}
/*
/* tables
*/
table {
  margin: 2rem 0;
}
table thead {
  border-bottom: 1px solid #eeeeee;
}
table thead th {
  padding: 0.8rem 2rem 0.4rem 0;
  font-weight: 600;
  text-align: left;
  border-right: 1px solid #eeeeee;
  color: #002145;
}
table thead th:last-of-type {
  border-right: none;
}
table thead th:not(:first-of-type) {
  padding-left: 1rem;
}
table tbody tr {
  border-bottom: 1px solid #eeeeee;
}
table tbody tr:last-of-type {
  border-bottom: none;
}
table tbody tr td {
  padding: 1rem 2rem 1rem 0;
  font-weight: 400;
  border-right: 1px solid #eeeeee;
  color: #002145;
}
table tbody tr td:last-of-type {
  border-right: none;
}
table tbody tr td:not(:first-of-type) {
  padding-left: 1rem;
}
/*
/* Paragraph
*/
blockquote {
  border: 1px solid #eeeeee;
  border-left: 4px solid #58a229;
  padding: 2rem 2rem 2.6rem;
  border-radius: 3px;
  max-width: 28rem;
  position: relative;
  margin-bottom: 2rem;
}
blockquote cite {
  text-transform: uppercase;
  color: #58a229;
  position: absolute;
  right: 2rem;
  font-size: 0.8rem;
}
blockquote cite:before {
  content: '- ';
}
.callout {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 2rem;
  max-width: 28rem;
  margin-bottom: 2rem;
}
.callout p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
.callout.live p {
  color: #58a229;
}
.shoutout {
  margin-bottom: 2rem;
}
.shoutout p {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
  max-width: 44rem;
}
.shoutout.live p {
  color: #58a229;
}
/***************/
/*  molecules  */
/*             */
/*
/* accordion
*/
#accordion > div a {
  text-decoration: none;
}
#accordion > div h4 {
  padding: 1rem 3rem 1rem 1rem;
  background-color: #eeeeee;
  background-image: url(images/arrow-down--campus.svg);
  background-position: 95% center;
  background-repeat: no-repeat;
  color: #1594a6;
  margin-bottom: 0;
}
#accordion > div h4.acc-open {
  background-image: url(images/cross--campus.svg);
  background-position: 95% center;
}
#accordion > div article {
  padding: 1rem;
  border: 1px solid #eeeeee;
  margin-bottom: 2rem;
}
/*
/* alerts
*/
.alert {
  margin-bottom: 2rem;
}
.alert .alert-header {
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 3px 3px 0 0;
  border-width: 1px;
  border-style: solid;
}
.alert .alert-header h4 {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}
.alert .alert-content {
  padding: 1rem 3rem 1rem 1rem;
  border-width: 1px;
  border-style: solid;
  background: #ffffff;
  border-top: none;
  border-radius: 0 0 3px 3px ;
  display: flex;
  flex: 1 1;
  flex-direction: row;
}
@media (max-width: 900px) {
  .alert .alert-content {
    flex-direction: column;
  }
}
.alert .alert-content p {
  padding-right: 2rem;
  flex: 2 0 0;
}
.alert .alert-content div {
  flex: 1 0 0;
  text-align: right;
}
@media (max-width: 900px) {
  .alert .alert-content div {
    text-align: left;
  }
}
.alert.page-alert .alert-header {
  background: #cb1d38;
  border-color: #cb1d38;
}
.alert.page-alert .alert-content {
  border-color: #cb1d38;
}
.alert.section-alert.campus .alert-header {
  background: rgba(21, 148, 166, 0.05);
  border-color: #1594a6;
}
.alert.section-alert.campus h4 {
  color: #1594a6;
}
.alert.section-alert.campus .alert-content {
  border-color: #1594a6;
}
.alert.section-alert.plan .alert-header {
  background: rgba(243, 139, 0, 0.05);
  border-color: #f38b00;
}
.alert.section-alert.plan h4 {
  color: #f38b00;
}
.alert.section-alert.plan .alert-content {
  border-color: #f38b00;
}
.alert.section-alert.live .alert-header {
  background: rgba(88, 162, 41, 0.05);
  border-color: #58a229;
}
.alert.section-alert.live h4 {
  color: #58a229;
}
.alert.section-alert.live .alert-content {
  border-color: #58a229;
}
.alert.section-alert.fun .alert-header {
  background: rgba(203, 29, 56, 0.05);
  border-color: #cb1d38;
}
.alert.section-alert.fun h4 {
  color: #cb1d38;
}
.alert.section-alert.fun .alert-content {
  border-color: #cb1d38;
}
.alert.section-alert.career .alert-header {
  background: rgba(80, 21, 139, 0.05);
  border-color: #50158b;
}
.alert.section-alert.career h4 {
  color: #50158b;
}
.alert.section-alert.career .alert-content {
  border-color: #50158b;
}
.alert.section-alert.enrol .alert-header {
  background: rgba(33, 73, 156, 0.05);
  border-color: #21499c;
}
.alert.section-alert.enrol h4 {
  color: #21499c;
}
.alert.section-alert.enrol .alert-content {
  border-color: #21499c;
}
/*
/* bricks
*/
#brick {
  /* Size */
  /* Brick Themes */
}
#brick .brick {
  display: block;
  position: relative;
}
#brick .inline-block {
  display: inline-block;
  position: relative;
}
#brick .brick-link {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 15;
}
#brick .brick-thumb {
  position: relative;
  z-index: 9;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#brick .brick-thumb img {
  display: block;
  border-radius: 3px 0 0 3px;
  width: 100%;
  height: auto;
}
#brick .brick-thumb:before {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 3px;
}
#brick .brick-thumb:after {
  width: 4px;
  height: 100%;
  content: '';
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.1, 0.9, 1);
  transition: all 0.2s cubic-bezier(0.8, 0.1, 0.9, 1);
  border-radius: 3px 0 0 3px;
}
#brick .brick-text {
  display: inline-block;
  margin-left: 1rem;
}
#brick .brick-optional {
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
#brick .brick-title {
  margin-top: 0px;
}
#brick .brick-desc {
  font-size: 0.9rem;
}
#brick .brick-item--large .brick-title,
#brick .brick-item--medium-contained .brick-title,
#brick .brick-item--large .brick-desc,
#brick .brick-item--medium-contained .brick-desc {
  width: calc(100% - 2rem);
}
#brick .brick-item--medium .brick-optional,
#brick .brick-item--medium-contained .brick-optional,
#brick .brick-item--small .brick-optional {
  font-size: 0.8rem;
}
#brick .brick-item--large,
#brick .brick-item--medium-contained,
#brick .brick-item--full {
  margin-bottom: 2rem;
  display: inline-block;
}
#brick .brick-item--large .brick-link:hover .brick-thumb,
#brick .brick-item--medium-contained .brick-link:hover .brick-thumb,
#brick .brick-item--full .brick-link:hover .brick-thumb {
  z-index: 9;
}
#brick .brick-item--large .brick-link:hover .brick-thumb:after,
#brick .brick-item--medium-contained .brick-link:hover .brick-thumb:after,
#brick .brick-item--full .brick-link:hover .brick-thumb:after {
  width: 100%;
}
#brick .brick-item--large .brick-link .brick-text,
#brick .brick-item--medium-contained .brick-link .brick-text,
#brick .brick-item--full .brick-link .brick-text {
  z-index: 10;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#brick .brick-item--large .brick-link .brick-text .brick-meta,
#brick .brick-item--medium-contained .brick-link .brick-text .brick-meta,
#brick .brick-item--full .brick-link .brick-text .brick-meta {
  top: 1rem;
  left: 1rem;
  position: absolute;
  color: white;
  z-index: 10;
}
#brick .brick-item--large .brick-link .brick-text .brick-detail,
#brick .brick-item--medium-contained .brick-link .brick-text .brick-detail,
#brick .brick-item--full .brick-link .brick-text .brick-detail {
  left: 1rem;
  position: absolute;
  bottom: 2rem;
  z-index: 10;
}
#brick .brick-item--large .brick-link .brick-text .brick-detail .brick-title,
#brick .brick-item--medium-contained .brick-link .brick-text .brick-detail .brick-title,
#brick .brick-item--full .brick-link .brick-text .brick-detail .brick-title {
  color: white;
  margin-bottom: 1rem;
}
#brick .brick-item--large .brick-link .brick-text .brick-detail .brick-desc,
#brick .brick-item--medium-contained .brick-link .brick-text .brick-detail .brick-desc,
#brick .brick-item--full .brick-link .brick-text .brick-detail .brick-desc {
  color: white;
  line-height: 1.25rem;
}
#brick .brick-item--large .brick-title {
  line-height: 2.3rem;
}
#brick .brick-item--small .brick-text {
  margin-left: 0;
}
#brick .brick-item--small .brick-text .brick-desc {
  margin-bottom: 1rem;
}
#brick .brick-item--small .brick-title a {
  text-decoration: none;
}
#brick .brick-item--small .brick-title a:hover {
  text-decoration: underline;
}
#brick .brick-item--medium-contained {
  width: 220px;
  height: 200px;
}
#brick .brick-item--medium-contained .brick-meta {
  left: 0.4rem !important;
  top: 0.4rem !important;
}
#brick .brick-item--medium-contained h2 {
  font-size: 1.3rem;
  line-height: 1.6rem;
}
#brick .brick-item--medium-contained .brick-detail {
  left: 0.4rem !important;
  bottom: 0.4rem !important;
}
#brick .brick-item--medium,
#brick .brick-item--small {
  margin-bottom: 2rem;
}
#brick .brick-item--medium .brick-meta .brick-optional,
#brick .brick-item--small .brick-meta .brick-optional {
  margin-top: 0;
  margin-bottom: 0;
}
#brick .brick-item--medium .brick-text,
#brick .brick-item--small .brick-text {
  vertical-align: top;
  margin-bottom: 0;
  width: 200px;
}
#brick .brick-item--medium .brick-text h2,
#brick .brick-item--small .brick-text h2 {
  margin-top: 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  width: calc(98%);
}
#brick .brick-item--medium .brick-text .brick-optional,
#brick .brick-item--small .brick-text .brick-optional,
#brick .brick-item--medium .brick-text .brick-desc,
#brick .brick-item--small .brick-text .brick-desc {
  color: #002145;
  line-height: 1.25rem;
  width: 240px;
}
#brick .brick-item--medium .brick-link .brick-title,
#brick .brick-item--small .brick-link .brick-title {
  text-decoration: none;
}
#brick .brick-item--medium .brick-link:hover .brick-thumb:after,
#brick .brick-item--small .brick-link:hover .brick-thumb:after {
  width: 24px;
}
#brick .brick-item--medium .brick-link:hover .brick-title,
#brick .brick-item--small .brick-link:hover .brick-title {
  text-decoration: underline;
}
#brick .brick-item--full .brick-link .brick-thumb img {
  border-radius: 0;
}
#brick .brick-item--full .brick-link .brick-thumb:after {
  width: 0px;
}
#brick .brick-item--full .brick-link .brick-text {
  font-size: 1rem;
}
#brick .brick-item--full .brick-link .brick-text .brick-title {
  line-height: 2.3rem;
}
#brick .brick-item--full .brick-link .brick-text .brick-desc {
  width: 60%;
  margin-bottom: 1rem;
}
#brick .brick-item--full .brick-link:hover .brick-thumb:after {
  width: 0px;
}
#brick .brick.campus .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(62, 207, 227, 0.6) 0%, rgba(11, 105, 119, 0.71) 100%);
}
#brick .brick.campus .brick-thumb:after {
  background: #1594a6;
}
#brick .brick.campus h2 {
  color: #1594a6;
}
#brick .brick.campus h2 a {
  color: #1594a6;
}
#brick .brick.plan .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(213, 158, 85, 0.6) 0%, rgba(224, 128, 0, 0.71) 100%);
}
#brick .brick.plan .brick-thumb:after {
  background: #f38b00;
}
#brick .brick.plan h2 {
  color: #f38b00;
}
#brick .brick.plan h2 a {
  color: #f38b00;
}
#brick .brick.live .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(131, 213, 80, 0.6) 0%, rgba(55, 121, 11, 0.71) 100%);
}
#brick .brick.live .brick-thumb:after {
  background: #58a229;
}
#brick .brick.live h2 {
  color: #58a229;
}
#brick .brick.live h2 a {
  color: #58a229;
}
#brick .brick.fun .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(216, 95, 113, 0.6) 0%, rgba(158, 8, 31, 0.71) 100%);
}
#brick .brick.fun .brick-thumb:after {
  background: #cb1d38;
}
#brick .brick.fun h2 {
  color: #cb1d38;
}
#brick .brick.fun h2 a {
  color: #cb1d38;
}
#brick .brick.career .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(135, 46, 191, 0.6) 0%, rgba(45, 10, 80, 0.71) 100%);
}
#brick .brick.career .brick-thumb:after {
  background: #50158b;
}
#brick .brick.career h2 {
  color: #50158b;
}
#brick .brick.career h2 a {
  color: #50158b;
}
#brick .brick.enrol .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(73, 117, 211, 0.6) 0%, rgba(9, 34, 90, 0.71) 100%);
}
#brick .brick.enrol .brick-thumb:after {
  background: #23499c;
}
#brick .brick.enrol h2 {
  color: #21499c;
}
#brick .brick.enrol h2 a {
  color: #21499c;
}
/*
/* Profiles
*/
#profile .brick {
  display: inline-block;
  position: relative;
}
#profile .inline-block {
  display: inline-block;
  position: relative;
}
#profile .brick-link {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 15;
  margin-bottom: 2rem;
}
#profile .brick-thumb {
  position: relative;
  z-index: 9;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 10px;
}
#profile .brick-thumb img {
  display: block;
  border-radius: 3px 0 0 3px;
  width: 100%;
  height: auto;
}
#profile .brick-thumb:before {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 3px;
}
#profile .brick-thumb:after {
  width: 4px;
  height: 100%;
  content: '';
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.1, 0.9, 1);
  transition: all 0.2s cubic-bezier(0.8, 0.1, 0.9, 1);
  border-radius: 3px 0 0 3px;
}
#profile .brick-optional {
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
#profile .brick-title {
  margin-top: 0px;
  line-height: 2.3rem;
}
#profile .brick-text {
  margin-left: 1rem;
  z-index: 10;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: calc(98%);
  height: 100%;
}
#profile .brick-text .brick-meta {
  top: 1rem;
  left: 1rem;
  position: absolute;
  color: white;
  z-index: 10;
}
#profile .brick-text .brick-detail {
  left: 1rem;
  position: absolute;
  bottom: 2rem;
  z-index: 10;
}
#profile .brick-text .brick-detail .brick-title {
  color: white;
  margin-bottom: 0.6rem;
}
#profile .brick-desc {
  color: #002145;
}
#profile .brick-item--profile.campus .brick-thumb:before {
  background-image: linear-gradient(-180deg, rgba(62, 207, 227, 0.6) 0%, rgba(11, 105, 119, 0.71) 100%);
}
#profile .brick-item--profile.campus .brick-thumb:after {
  background: #1594a6;
  width: 0;
}
#profile .brick-item--profile.campus h2 {
  color: #1594a6;
}
/* Contact * */
#contact .contact {
  margin-bottom: 2rem;
}
#contact .contact .contact-header {
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 3px 3px 0 0;
  background: #002145;
}
#contact .contact .contact-header h4 {
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}
#contact .contact .contact-content {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid #eeeeee;
  background: #ffffff;
  border-top: none;
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 900px) {
  #contact .contact .contact-content {
    flex-direction: column;
  }
}
#contact .contact .contact-content .half {
  width: calc(50% - 2rem);
  padding-right: 2rem;
  padding-bottom: 2rem;
  flex: 1 0 50%;
  border-bottom: 1px solid #eeeeee;
}
@media (max-width: 900px) {
  #contact .contact .contact-content .half {
    width: 100%;
  }
}
#contact .contact .contact-content .half:last-of-type {
  padding-right: 0;
}
#contact .contact .contact-content .half:nth-last-of-type(-n+2) {
  border-bottom: none;
  margin-bottom: 0rem;
  padding-bottom: 0;
}
@media (max-width: 900px) {
  #contact .contact .contact-content .half:nth-last-of-type(-n+2) {
    border-bottom: none;
    margin-bottom: 2rem;
    padding-bottom: 0;
  }
}
#contact .contact .contact-content .half p {
  margin-bottom: 0rem;
}
#contact .contact .contact-content .half p.map-link {
  margin-top: 0.5rem;
}
#contact .contact .contact-content .alert {
  width: 100%;
}
